<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('forms/head'); -%>
    <script>
      let pay_info = {'bus' : <%- bus %>, 'seat' : <%- seat %>};
    </script>
    <script src="/scripts/payment.js"></script>
  </head>
  <body>
    <header>
      <%- include('forms/header'); -%>
    </header><br>
    <h2> 결제 확인 </h2>
    <h3>버스 정보</h3>
    <table>
      <tr><th>날짜</th><th>출발지</th><th>도착지</th><th>출발시각</th><th>도착시각</th><th>좌석단가</th></tr>
      <tr><td id="date"></td><td id="dptloc"></td><td id="arvloc"></td><td id="dpttime"></td><td id="arvtime"></td><td id="rate"></td></tr>
    </table>
    <h3>결제 정보</h3>
    <form id="paymentForm" >
      <input type="hidden" id="bus_code">
      <label for="seat_sel">선택한 좌석 : </label>
      <input type="text" id="seat_sel" name="seat_sel" value="" disabled><br>
      <label for="seat_cnt">좌석 갯수 : </label>
      <input type="text" id="seat_cnt" name="seat_cnt" value="" disabled><br>
      <label for="total">총액 : </label>
      <input type="text" id="total" name="total" value="" disabled><br>
      <input type="button" id="searchButton" value="결제" onclick="onPaymentClick()">
      <br><br>
    </form>
    <div id="busTable"></div>
    <footer>
      <%- include('forms/footer'); -%>
    </footer>
  </body>
</html>
