<% if(list.length == 0) { %>
    <h1>예매 내역이 없습니다.</h1>
<%  } else { %>
    <% for(let i = 0; i < list.length; i++) { %>
        <% const reservation = list[i]; %> 
        <div style="border: 1px solid black; display: inline-block">
            <label for="date">예매 날짜 : </label><%= reservation['date'] %><br>
            <label for="departure_location">출발지 : </label><%= reservation['departure_location'] %><br>
            <label for="arrival_location">도착지 : </label><%= reservation['arrival_location'] %><br>
            <label for="departure_time">출발 시각 : </label><%= reservation['departure_time'] %><br>
            <label for="arrival_time">도착 시각 : </label><%= reservation['arrival_time'] %><br>
            <% 
                let seats = '';
                for(let j in reservation['seats']) {
                    console.log(String(reservation['seats'][j]));
                    seats += String(reservation['seats'][j]) + ', '; 
                }
                seats = seats.slice(0, -2);
            %>
            <label for="seats">좌석(들) : </label><%= seats %><br>
            <label for="rate">요금 : </label><%= list[i]['rate'] %>
        </div>
    <% } %>
<% } %>